.left-section {
  margin: 0px;
}
.left-section-divs {
  text-align: center;
  width: 75px;
  transition: all 0.15s;
  padding-bottom: 20px;
}

.left-section-icons {
  margin-bottom: 0px;
  margin-top: 17px;
  width: 24px;
}
.left-section-divs:hover {
  background-color: rgba(206, 201, 201, 0.308);
  cursor: pointer;
}
.left-section-p {
  font-size: 10px;
  text-transform: capitalize;
}
